
#grid
{
    display: grid;
    grid-template-rows: 130px 100px 100px 500px 100px 500px 100px 500px 100px 500px ;
    grid-template-columns:  100% ;
    height: 100vh;
   
}

#d1
{
grid-row: 1/2;
grid-column: 1/2;
color: brown;
background-image: url(/img/happen/download.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;
}
ul{
    list-style-type: none;
}
ul li {
    float:left;
    width: 10%;
    line-height: 10px;
    padding-left: 6%;
    font-size: small;
    padding-bottom: 10px;
}
ul li a{
    font-size: 24px;
    color:brown;
    text-decoration: none;
}
a:hover
{
    background-color: antiquewhite;
    color: brown;
}
#d2
{
    grid-row:2/3 ;
    grid-column:1/2;
    text-align: center;
    color: brown;
    font-size: 25px;
    width: 100%;
    
}

#d3
{
    grid-row:3/4 ;
    grid-column:1/2;
    text-align: center;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(151, 62, 62);
}
#d4
{   display: grid;
    grid-template-rows: 350px ;
    grid-template-columns: 400px  400px 400px;
    width: 100%;
  
}
#a1
{
    grid-row:1/2;
    grid-column:1/2;
    background-image: url(/img/menu/Pinterest.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left: 70px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#a2
{
    grid-row:1/2;
    grid-column:2/3;
    background-image: url(/img/menu/flavorful-vegetarian-starter-features-vibrant-palak-paneer-creamy-soft-cheese-cubes-nestled-rich-spinach-gravy-topped-336321532.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-right: 10px;
    background-position:contain;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#a3
{
    grid-row:1/2;
    grid-column:3/4;
    background-image: url(/img/amazin-blue-mojito.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 60px;
    margin-right: 0px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#d5
{
    grid-row:5/6 ;
    grid-column:1/2;
    text-align: center;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(151, 62, 62);
}
#d6
{   display: grid;
    grid-template-rows: 350px ;
    grid-template-columns: 400px 400px 400px;
}
#b1
{
    grid-row:1/2;
    grid-column:1/2;
    background-image: url(/img/menu/53351352.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#b2
{
    grid-row:1/2;
    grid-column:2/3;
    background-image: url(/img/menu/90027362.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#b3
{
    grid-row:1/2;
    grid-column:3/4;
    background-image: url(/img/menu/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#d7
{
    grid-row:7/8 ;
    grid-column:1/2;
    text-align: center;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(151, 62, 62);
}
#d8
{   display: grid;
    grid-template-rows: 350px ;
    grid-template-columns: 400px 400px 400px;
}
#c1
{
    grid-row:1/2;
    grid-column:1/2;
    background-image: url(/img/menu/IMG_4122-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#c2
{
    grid-row:1/2;
    grid-column:2/3;
    background-image: url(/img/menu/5bc7ae3754c6c3f45bb1c9e2b622a459.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#c3
{
    grid-row:1/2;
    grid-column:3/4;
    background-image: url(/img/menu/images\ \(1\).jpg);
    background-size: cover;
    margin-left: 70px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#d9
{
    grid-row:9/10 ;
    grid-column:1/2;
    text-align: center;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(151, 62, 62);
}
#d10
{   display: grid;
    grid-template-rows: 350px ;
    grid-template-columns: 400px 400px 400px;
}
#e1
{
    grid-row:1/2;
    grid-column:1/2;
    background-image: url(/img/menu/Raspberry-ripple-blondies-0ac9567.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#e2
{
    grid-row:1/2;
    grid-column:2/3;
    background-image: url(/img/menu/images\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-right: 10px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}
#e3
{
    grid-row:1/2;
    grid-column:3/4;
    background-image:url(/img/menu/easy-chocolate-molten-cakes-37a25eb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
    box-shadow: 8px 8px 8px red;
    transition-property: transform;
    transition-duration: 1s;
}

#a1:hover, #a2:hover, #a3:hover, #b1:hover, #b2:hover, #b3:hover, #c1:hover, #c2:hover, #c3:hover, #e1:hover, #e2:hover, #e3:hover {
    transform: scale(1.1); /* Apply scale transformation for #a2 */
}
    
